    <footer class="footer is-size-7">
        <div class="content has-text-centered">

            <div class="columns is-centered is-desktop">
                <div class="column is-2"><a href="/documents/privacy_policy.html">プライバシーポリシー</a></div>
            </div>
            <div class="c-footer-left-copyright">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script> <a href="https://iffj.org/" target="_blank">Internet Frontier Forum</a> (CC BY 4.0)
            </div>
        </div>
    </footer>
</body>

</html>
