                        `
                        let md = marked(data);
                        $(".iffj-story").html(md);

                    </script>
                </div>
            </div>
        </div>
    </section>
