<% var meta = { 
  title:'IFF - Internet Frontier Forum', 
  desc:'「IFFJ - Internet Frontier Forum」はデジタル時代の消費者の権利を考え、問題を提起します',
  image: '/images/iffj_main_ogp.png',
  url: '/'
}; %>
<%- include('../_layout/header', {meta: meta}) -%>    
    <section class="iffj-top">
        <div class="container">
            <div class="columns is-desktop is-centered">
                <div class="column is-8">
                    <a href="/story/sample.html">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-9by6">
                                    <img src="/images/ogp_1200x630.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">ロレム・イプサムの嘆き、トマト大好き学部のエリット、しかし時と活力、そのような労働と悲しみ</p>
                                    <p class="is-size-7">
                                        <span class="iffj-author">Masako Wakae</span>
                                        <span class="iffj-pubdate is-pulled-right">2020-02-01 00:00:00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="columns is-desktop is-centered">
                <div class="column is-4">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-9by6">
                                    <img src="/images/ogp_1200x630.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">ロレム・イプサムの嘆き、</p>
                                    <p class="is-size-7">
                                        <span class="iffj-author">Masako Wakae</span>
                                        <span class="iffj-pubdate is-pulled-right">2020-02-01 00:00:00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-4">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-9by6">
                                    <img src="/images/ogp_1200x630.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">ロレム・イプサムの嘆き、トマト大好き学部のエリット、しかし時と活力、そのような労働と悲しみ</p>
                                    <p class="is-size-7">
                                        <span class="iffj-author">Masako Wakae</span>
                                        <span class="iffj-pubdate is-pulled-right">2020-02-01 00:00:00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="columns is-desktop is-centered">
                <div class="column is-4">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-9by6">
                                    <img src="/images/ogp_1200x630.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">ロレム・イプサムの嘆き、トマト大好き学部のエリット、しかし時と活力、そのような労働と悲しみ</p>
                                    <p class="is-size-7">
                                        <span class="iffj-author">Masako Wakae</span>
                                        <span class="iffj-pubdate is-pulled-right">2020-02-01 00:00:00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-4">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-9by6">
                                    <img src="/images/ogp_1200x630.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5">ロレム・イプサムの嘆き、トマト大好き学部のエリット、</p>
                                    <p class="is-size-7">
                                        <span class="iffj-author">Masako Wakae</span>
                                        <span class="iffj-pubdate is-pulled-right">2020-02-01 00:00:00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
<%- include('../_layout/footer') -%>
